<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	DVOHoyx2QMo7iAqS+obtjNfwrPMjh3tDrOO0ddtjw5q/Iss55GGvZ8kTTTLuLMfn8Ubf
	cyXatJb3nyU7Va5cVPhilLzPl7eBMjlrIRABm4fkI2fWxWEh2rCywYH0nzVuxXZUvggs
	4w6QoxXvI8Sb0pPSEX+37mQeja6gkO41eZY=
	</data>
</dict>
</plist>
