<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	K1KbnUHkl5PDppJ8TzAs5v5yhXErKXlNzXF7yjRBGsH8eDW4E6Rq0q+OsoSEDy1DcE17
	y4PGF5eVStvBMG1jkdXTgQ5LvX1+C3dXfa2aj680XqneRpqQ8/N/a0vX+YArT1PWC5DI
	QBU/KClGpUpIqx7tEXN+t8xhxlotRWJTMwE=
	</data>
</dict>
</plist>
